BOT_PHONE=2349034115677
OWNER_NUMBER=2349034115677
BOT_NAME=ᴅᴀʀᴋɴᴏᴠᴀ 
OWNER_NAME=① ᴍʀ. ᴅᴀʀᴋɴᴏᴠᴀ 
PREFIX=/
AUTH_MODE=pairing
MARK_ONLINE=false
AUTO_READ=false
WELCOME=true
REPO_URL=https://github.com/MrDarkNova/nova-public
GITHUB_TOKEN=
UPDATE_REPO=MrDarkNova/nova-md
AI_API_KEY=
AI_BASE_URL=https://api.groq.com/openai/v1
AI_MODEL=llama-3.1-8b-instant
PREXZY_BASE=https://prexzyapis.com
